<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Travel Log</h1>
  <% for (let i = 0; i < places.length; i++) {%>
    <div class="">
      <a href="#"><%=places.name%></a>
      <a href="#"><%=places.date%></a>
    </div>
  <%}%>
</body>

</html>
