<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Adventure Log</h1>
  <a href="/places/new">Log an Aventure</a>
  <% for (let i = 0; i < places.length; i++) {%>
    <div class="">
      <a href="/places/<%=places[i].id%>"><%=places[i].name%></a>
      <a href="/places/<%=places[i].id%>"><%=places[i].date%></a>
    </div>
  <%}%>
</body>

</html>
