<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/../css/index.css">
</head>

<body>
  <h1>The 'Route' Less Traveled</h1>
      <button class="log"><a href="/places/new">Log an Adventure</a>
      <i class="material-icons"><a href="/places/new" class="icon-white">create</a></i></button>
  <table class="highlight">
    <thead>
      <th>Location</th>
      <th>Date</th>
      <th>More Info</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <% for (let i = 0; i < places.length; i++) {%>
        <tr>
          <td><%=places[i].name%></td>
          <td><%=places[i].date%></td>
          <td><i class="material-icons"><a href="/places/<%=places[i].id%>" class="icon-white">info_outline</a></i></td>
          <td><form action="/places/<%=places[i].id%>?_method=DELETE" method="post">
            <button class="delete-button" type="submit"><i class="material-icons">delete</i></button>
          </form></td>
        </tr>

      <%}%>
    </tbody>
  </table>
</body>

</html>
