<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/../css/forms.css">
  </head>
  <body>
    <h1>Log an Adventure!</h1>
    <div class="">
      <form class="" action="/places" method="post">
        <h3>Location:</h3> <input type="text" name="name">
        <h3>Date Traveled:</h3> <input type="text" name="date">
        <h3>Description:</h3> <input type="text" name="description">
        <h3>Image One:</h3> <input type="text" name="img_one">
        <h3>Image Two:</h3> <input type="text" name="img_two">
        <h3>Image Three:</h3> <input type="text" name="img_three">
        <h3>Day Stayed:</h3> <input type="text" name="daysStayed">
        <input type="submit" name="" value="Submit">
      </form>
    </div>
  </body>
</html>
